#secpara {
    color: pink;
    background-color: brown;
}
.coloryell
{
    color: yellow;
}

.bgblue
{
    background-color: blue;
}
.bgblack
{
    background-color: black;
    color: white;
}
 
footer , span
{
    color: blueviolet;
    background-color: crimson;
}